## 6.1 Data Cleaning

In [1]:
#Importing Libreries 
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#Define Path
path = r'C:\Users\danac\Downloads\Achievement 6\Data\Original Data\original_data.xlsx'

In [5]:
#Importing
dataframe = pd.read_excel(path)

### Exploring the dataframe-Descriptive Analysis

In [15]:
dataframe.head(1)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.0,2012

In [17]:
print(dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   world_rank            2200 non-null   int64
 1   institution           2200 non-null   object
 2   country               2200 non-null   object
 3   national_rank         2200 non-null   int64
 4   quality_of_education  2200 non-null   int64
 5   alumni_employment     2200 non-null   int64
 6   quality_of_faculty    2200 non-null   int64
 7   publications          2200 non-null   int64
 8   influence             2200 non-null   int64
 9   citations             2200 non-null   int64
 10  broad_impact          2000 non-null   float64
 11  patents               2200 non-null   int64
 12  score                 2200 non-null   float64
 13  year                  2200 non-null   int64
dtypes: float64(2), int64(10), object(2)
memory usage: 240.8+ KB
None

In [19]:
print(dataframe.describe())

        world_rank  national_rank  quality_of_education  alumni_employment  \
count  2200.000000    2200.000000           2200.000000        2200.000000
mean    459.590909      40.278182            275.100455         357.116818
std     304.320363      51.740870            121.935100         186.779252
min       1.000000       1.000000              1.000000           1.000000
25%     175.750000       6.000000            175.750000         175.750000
50%     450.500000      21.000000            355.000000         450.500000
75%     725.250000      49.000000            367.000000         478.000000
max    1000.000000     229.000000            367.000000         567.000000

       quality_of_faculty  publications    influence    citations  \
count         2200.000000   2200.000000  2200.000000  2200.000000
mean           178.888182    459.908636   459.797727   413.417273
std             64.050885    303.760352   303.331822   264.366549
min              1.000000      1.000000     1.000000     1.000000
25%            175.750000    175.750000   175.750000   161.000000
50%            210.000000    450.500000   450.500000   406.000000
75%            218.000000    725.000000   725.250000   645.000000
max            218.000000   1000.000000   991.000000   812.000000

       broad_impact      patents        score         year
count   2000.000000  2200.000000  2200.000000  2200.000000
mean     496.699500   433.346364    47.798395  2014.318182
std      286.919755   273.996525     7.760806     0.762130
min        1.000000     1.000000    43.360000  2012.000000
25%      250.500000   170.750000    44.460000  2014.000000
50%      496.000000   426.000000    45.100000  2014.000000
75%      741.000000   714.250000    47.545000  2015.000000
max     1000.000000   871.000000   100.000000  2015.000000

### Missing Values

In [85]:
#Showing missing values per column
dataframe.isnull().sum()

world_rank              0
institution             0
country                 0
national_rank           0
quality_of_education    0
alumni_employment       0
quality_of_faculty      0
publications            0
influence               0
citations               0
broad_impact            0
patents                 0
score                   0
year                    0
dtype: int64

#### Handling missing values - replacing for the mean

In [49]:
#Imputing missing values from column 'broad_impact' with its mean
dataframe['broad_impact'] = pd.to_numeric(dataframe['broad_impact'], errors='coerce')

In [51]:
#Rouned mean broad_impact
mean_broad_impact_rounded = int(dataframe['broad_impact'].mean())

In [65]:
mean_broad_impact_rounded

496

In [57]:
#Replacing
dataframe['broad_impact'] = dataframe['broad_impact'].fillna(mean_broad_impact_rounded)

In [59]:
#Verifying
dataframe['broad_impact'].isnull().sum()

0

In [67]:
dataframe.head(5)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,496.6995,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,496.6995,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,496.6995,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,496.6995,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,496.6995,18,85.21,2012

In [69]:
dataframe['broad_impact'] = dataframe['broad_impact'].astype(int)

In [71]:
print(dataframe['broad_impact'].head())

0    496
1    496
2    496
3    496
4    496
Name: broad_impact, dtype: int32

In [77]:
dataframe.head(5)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,496,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,496,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,496,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,496,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,496,18,85.21,2012

## Duplicates

In [80]:
#Finding duplicates
duplicated_rows = dataframe[dataframe.duplicated()]

In [82]:
#showing duplicates
print("Cantidad de filas duplicadas:", duplicated_rows.shape[0])

Cantidad de filas duplicadas: 0

### Conclusion
#### Missing values: replaced for the mean 
#### Duplicates : the data set has no duplicates
#### Consistency : the data type of the column 'broad_impact' was replaced as 'Int'

In [90]:
#Importing the cleaned dataframe
dataframe.to_excel(r'C:\Users\danac\Downloads\Achievement 6\Data\Cleaned Data\cleaned_data.xlsx', index=False)